* {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    cursor: default  !important;
    user-select: none;
    overflow-x: hidden;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px 0;
}

main, #sub {
    padding: 20px 0;
}

#stage {
    display: grid;
    width: 100%;
    margin: auto;
    justify-content: center;
}

#stage div {
    max-width: 100px;
    height: 100px;
    margin: 2px;
}


.piece {
    position: relative;
    background-color: rgb(37, 189, 190);
    color: white;
    text-align: center;
}

.piece p {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.piece:hover {
    background-color: rgb(32, 150, 150);
}

.hole p {
    display: none;
}

#info, #con {
    display: flex;
    width: 320px;
    margin: auto;
}

#info div {
    flex: 1 1;
    background-color: rgb(254, 230, 212);
    margin: 0 2px;
    padding: 8px;
}

#info h2 {
    font-size: 16px;
    font-weight: 800;
}

#info p {
    font-size: 28px;
    font-weight: 400;
}

#con {
    margin-top: 40px;
}

#con a {
    color: gray;
    flex-grow: 1;
    text-align: center;
}

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#modal-con {
    margin: 100px auto 0 auto;
    background-color: rgba(0,0,0,0.6);
    color: white;
    max-width: 400px;
}

#modal-con h1 {
    padding: 12px;
}

#size-table {
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#size-table h2 {
    font-weight: 400;
}

.num {
    font-weight: 600;
    font-size: 48px;
}

.adj {
    font-weight: 800;
    font-size: 36px;
}

#apply {
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    font-size: 20px;
    padding: 12px;
}

#apply:hover {
    background-color: rgba(0,0,0,0.8);
}
